In [ ]:
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer


import re
# Tutorial about Python regular expressions: https://pymotw.com/2/re/

from nltk.corpus import stopwords
import pickle

from tqdm import tqdm
import os

## 1. Reading Data

In [ ]:
project_data = pd.read_csv('train_data.csv', nrows=5000)
resource_data = pd.read_csv('resources.csv')

# 2. Preprocessing Categorical Features: project_grade_category

In [ ]:
project_data['project_grade_category'].value_counts()

Grades PreK-2    2002
Grades 3-5       1729
Grades 6-8        785
Grades 9-12       484
Name: project_grade_category, dtype: int64

we need to remove the spaces, replace the '-' with '_' and convert all the letters to small

In [ ]:
# https://stackoverflow.com/questions/36383821/pandas-dataframe-apply-function-to-column-strings-based-on-other-column-value
project_data['project_grade_category'] = project_data['project_grade_category'].str.replace(' ','_')
project_data['project_grade_category'] = project_data['project_grade_category'].str.replace('-','_')
project_data['project_grade_category'] = project_data['project_grade_category'].str.lower()
project_data['project_grade_category'].value_counts()

grades_prek_2    2002
grades_3_5       1729
grades_6_8        785
grades_9_12       484
Name: project_grade_category, dtype: int64

# 3. Preprocessing Categorical Features: project_subject_categories

In [ ]:
project_data['project_subject_categories'].value_counts()

Literacy & Language                           1067
Math & Science                                 795
Literacy & Language, Math & Science            679
Health & Sports                                509
Music & The Arts                               233
Literacy & Language, Special Needs             207
Applied Learning                               164
Special Needs                                  162
Math & Science, Literacy & Language            101
Applied Learning, Literacy & Language           97
Applied Learning, Special Needs                 80
Math & Science, Special Needs                   80
Literacy & Language, Music & The Arts           79
Math & Science, Music & The Arts                76
History & Civics, Literacy & Language           65
History & Civics                                63
Health & Sports, Special Needs                  57
Warmth, Care & Hunger                           53
Math & Science, Applied Learning                52
Applied Learning, Math & Science                44
Literacy & Language, History & Civics           40
Health & Sports, Literacy & Language            40
Applied Learning, Music & The Arts              39
Applied Learning, Health & Sports               29
Literacy & Language, Applied Learning           24
Math & Science, History & Civics                24
Math & Science, Health & Sports                 23
History & Civics, Math & Science                21
History & Civics, Music & The Arts              17
Health & Sports, Math & Science                 15
Special Needs, Music & The Arts                 13
History & Civics, Special Needs                  8
Health & Sports, Applied Learning                8
Health & Sports, Music & The Arts                8
Applied Learning, History & Civics               6
Music & The Arts, Special Needs                  6
Health & Sports, History & Civics                3
Health & Sports, Warmth, Care & Hunger           2
History & Civics, Applied Learning               2
Music & The Arts, History & Civics               2
Music & The Arts, Warmth, Care & Hunger          1
Literacy & Language, Warmth, Care & Hunger       1
History & Civics, Health & Sports                1
Music & The Arts, Applied Learning               1
Special Needs, Health & Sports                   1
Music & The Arts, Health & Sports                1
Applied Learning, Warmth, Care & Hunger          1
Name: project_subject_categories, dtype: int64

>remove spaces, 'the' <br>
replace '&' with '\_', and ',' with '_'

In [ ]:
project_data['project_subject_categories'] = project_data['project_subject_categories'].str.replace(' The ','')
project_data['project_subject_categories'] = project_data['project_subject_categories'].str.replace(' ','')
project_data['project_subject_categories'] = project_data['project_subject_categories'].str.replace('&','_')
project_data['project_subject_categories'] = project_data['project_subject_categories'].str.replace(',','_')
project_data['project_subject_categories'] = project_data['project_subject_categories'].str.lower()
project_data['project_subject_categories'].value_counts()

literacy_language                       1067
math_science                             795
literacy_language_math_science           679
health_sports                            509
music_arts                               233
literacy_language_specialneeds           207
appliedlearning                          164
specialneeds                             162
math_science_literacy_language           101
appliedlearning_literacy_language         97
math_science_specialneeds                 80
appliedlearning_specialneeds              80
literacy_language_music_arts              79
math_science_music_arts                   76
history_civics_literacy_language          65
history_civics                            63
health_sports_specialneeds                57
warmth_care_hunger                        53
math_science_appliedlearning              52
appliedlearning_math_science              44
literacy_language_history_civics          40
health_sports_literacy_language           40
appliedlearning_music_arts                39
appliedlearning_health_sports             29
literacy_language_appliedlearning         24
math_science_history_civics               24
math_science_health_sports                23
history_civics_math_science               21
history_civics_music_arts                 17
health_sports_math_science                15
specialneeds_music_arts                   13
health_sports_music_arts                   8
history_civics_specialneeds                8
health_sports_appliedlearning              8
appliedlearning_history_civics             6
music_arts_specialneeds                    6
health_sports_history_civics               3
health_sports_warmth_care_hunger           2
history_civics_appliedlearning             2
music_arts_history_civics                  2
music_arts_health_sports                   1
appliedlearning_warmth_care_hunger         1
literacy_language_warmth_care_hunger       1
music_arts_warmth_care_hunger              1
music_arts_appliedlearning                 1
specialneeds_health_sports                 1
history_civics_health_sports               1
Name: project_subject_categories, dtype: int64

# 4. Preprocessing Categorical Features: teacher_prefix

In [ ]:
project_data['teacher_prefix'].value_counts()

Mrs.       2560
Ms.        1845
Mr.         495
Teacher     100
Name: teacher_prefix, dtype: int64

In [ ]:
# check if we have any nan values are there
print(project_data['teacher_prefix'].isnull().values.any())
print("number of nan values",project_data['teacher_prefix'].isnull().values.sum())

False
number of nan values 0

>numebr of missing values are very less in number, we can replace it with Mrs. as most of the projects are submitted by Mrs.

In [ ]:
project_data['teacher_prefix']=project_data['teacher_prefix'].fillna('Mrs.')

In [ ]:
project_data['teacher_prefix'].value_counts()

Mrs.       2560
Ms.        1845
Mr.         495
Teacher     100
Name: teacher_prefix, dtype: int64

>Remove '.' <br>
>convert all the chars to small

In [ ]:
project_data['teacher_prefix'] = project_data['teacher_prefix'].str.replace('.','')
project_data['teacher_prefix'] = project_data['teacher_prefix'].str.lower()
project_data['teacher_prefix'].value_counts()

mrs        2560
ms         1845
mr          495
teacher     100
Name: teacher_prefix, dtype: int64

# 5. Preprocessing Categorical Features: project_subject_subcategories

In [ ]:
project_data['project_subject_subcategories'].value_counts()

Literacy                                        449
Literacy, Mathematics                           368
Literature & Writing, Mathematics               293
Literacy, Literature & Writing                  234
Mathematics                                     232
Literature & Writing                            216
Health & Wellness                               179
Special Needs                                   162
Applied Sciences, Mathematics                   156
Literacy, Special Needs                         140
Applied Sciences                                124
Gym & Fitness, Health & Wellness                112
Visual Arts                                      94
ESL, Literacy                                    91
Music                                            65
Literature & Writing, Special Needs              60
Gym & Fitness                                    58
Team Sports                                      56
Applied Sciences, Environmental Science          53
Environmental Science                            53
Warmth, Care & Hunger                            53
Mathematics, Special Needs                       48
Health & Wellness, Special Needs                 46
Music, Performing Arts                           45
Environmental Science, Health & Life Science     45
Environmental Science, Mathematics               42
ESL, Literature & Writing                        38
Early Development, Special Needs                 38
Literature & Writing, Visual Arts                38
Gym & Fitness, Team Sports                       37
                                               ...
Applied Sciences, Foreign Languages               1
Nutrition Education, Other                        1
Civics & Government, Mathematics                  1
Civics & Government, Environmental Science        1
College & Career Prep, Social Sciences            1
Other, Performing Arts                            1
History & Geography, Music                        1
Community Service, Social Sciences                1
ESL, History & Geography                          1
Character Education, Economics                    1
Music, Parent Involvement                         1
Mathematics, Performing Arts                      1
Early Development, Parent Involvement             1
Community Service, Gym & Fitness                  1
Environmental Science, Social Sciences            1
Civics & Government                               1
Literacy, Warmth, Care & Hunger                   1
Economics, Special Needs                          1
Health & Life Science, Social Sciences            1
Gym & Fitness, Parent Involvement                 1
Music, Social Sciences                            1
Early Development, Team Sports                    1
Community Service, Health & Life Science          1
Foreign Languages, Health & Life Science          1
Performing Arts, Social Sciences                  1
Early Development, Nutrition Education            1
Civics & Government, Team Sports                  1
Civics & Government, Special Needs                1
Health & Life Science, Music                      1
Other, Parent Involvement                         1
Name: project_subject_subcategories, Length: 248, dtype: int64

> same process we did in project_subject_categories

In [ ]:
project_data['project_subject_subcategories'] = project_data['project_subject_subcategories'].str.replace(' The ','')
project_data['project_subject_subcategories'] = project_data['project_subject_subcategories'].str.replace(' ','')
project_data['project_subject_subcategories'] = project_data['project_subject_subcategories'].str.replace('&','_')
project_data['project_subject_subcategories'] = project_data['project_subject_subcategories'].str.replace(',','_')
project_data['project_subject_subcategories'] = project_data['project_subject_subcategories'].str.lower()
project_data['project_subject_subcategories'].value_counts()

literacy                                   449
literacy_mathematics                       368
literature_writing_mathematics             293
literacy_literature_writing                234
mathematics                                232
literature_writing                         216
health_wellness                            179
specialneeds                               162
appliedsciences_mathematics                156
literacy_specialneeds                      140
appliedsciences                            124
gym_fitness_health_wellness                112
visualarts                                  94
esl_literacy                                91
music                                       65
literature_writing_specialneeds             60
gym_fitness                                 58
teamsports                                  56
appliedsciences_environmentalscience        53
environmentalscience                        53
warmth_care_hunger                          53
mathematics_specialneeds                    48
health_wellness_specialneeds                46
environmentalscience_health_lifescience     45
music_performingarts                        45
environmentalscience_mathematics            42
esl_literature_writing                      38
literature_writing_visualarts               38
earlydevelopment_specialneeds               38
gym_fitness_teamsports                      37
                                          ...
appliedsciences_health_wellness              1
nutritioneducation_specialneeds              1
mathematics_performingarts                   1
earlydevelopment_music                       1
gym_fitness_history_geography                1
other_performingarts                         1
civics_government                            1
appliedsciences_communityservice             1
mathematics_teamsports                       1
extracurricular_literature_writing           1
literacy_warmth_care_hunger                  1
esl_music                                    1
parentinvolvement_socialsciences             1
communityservice_gym_fitness                 1
performingarts_teamsports                    1
earlydevelopment_nutritioneducation          1
economics_history_geography                  1
charactereducation_warmth_care_hunger        1
esl_history_geography                        1
extracurricular_mathematics                  1
gym_fitness_parentinvolvement                1
health_wellness_performingarts               1
civics_government_health_lifescience         1
environmentalscience_financialliteracy       1
music_socialsciences                         1
nutritioneducation_other                     1
charactereducation_economics                 1
health_lifescience_music                     1
civics_government_communityservice           1
gym_fitness_music                            1
Name: project_subject_subcategories, Length: 248, dtype: int64

# 6. Preprocessing Categorical Features: school_state

In [ ]:
project_data['school_state'].value_counts()

CA    707
TX    352
NY    342
FL    261
NC    246
SC    191
IL    184
GA    164
PA    151
MI    151
OH    122
OK    120
MO    117
MA    115
LA    114
IN    113
AZ     99
NJ     99
WA     97
VA     90
TN     85
AL     84
CT     78
UT     76
WI     72
MD     69
OR     64
KY     59
CO     58
NV     53
AR     52
MN     48
MS     46
KS     30
IA     29
ID     29
HI     28
DC     23
NM     22
WV     21
NE     19
ME     19
AK     17
RI     16
SD     16
NH     13
DE     11
ND     11
WY      9
MT      6
VT      2
Name: school_state, dtype: int64

>convert all of them into small letters

In [ ]:
project_data['school_state'] = project_data['school_state'].str.lower()
project_data['school_state'].value_counts()

ca    707
tx    352
ny    342
fl    261
nc    246
sc    191
il    184
ga    164
mi    151
pa    151
oh    122
ok    120
mo    117
ma    115
la    114
in    113
az     99
nj     99
wa     97
va     90
tn     85
al     84
ct     78
ut     76
wi     72
md     69
or     64
ky     59
co     58
nv     53
ar     52
mn     48
ms     46
ks     30
ia     29
id     29
hi     28
dc     23
nm     22
wv     21
me     19
ne     19
ak     17
ri     16
sd     16
nh     13
de     11
nd     11
wy      9
mt      6
vt      2
Name: school_state, dtype: int64

# 7. Preprocessing Categorical Features: project_title

In [ ]:
# https://stackoverflow.com/a/47091490/4084039
import re

def decontracted(phrase):
    # specific
    phrase = re.sub(r"won't", "will not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)

    # general
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase

In [ ]:
# https://gist.github.com/sebleier/554280
# we are removing the words from the stop words list: 'no', 'nor', 'not'
stopwords= ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've",\
            "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', \
            'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their',\
            'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', \
            'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', \
            'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', \
            'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after',\
            'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further',\
            'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',\
            'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', \
            's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', \
            've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn',\
            "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn',\
            "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", \
            'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
project_data['project_title'].head(5)

0     Educational Support for English Learners at Home
1                Wanted: Projector for Hungry Learners
2    Soccer Equipment for AWESOME Middle School Stu...
3                               Techie Kindergarteners
4                               Interactive Math Tools
Name: project_title, dtype: object

In [ ]:
print("printing some random reviews")
print(9, project_data['project_title'].values[9])
print(34, project_data['project_title'].values[34])
print(147, project_data['project_title'].values[147])

printing some random reviews
9 Just For the Love of Reading--\r\nPure Pleasure
34 \"Have A Ball!!!\"
147 Who needs a Chromebook?\r\nWE DO!!

In [ ]:
# Combining all the above stundents 
from tqdm import tqdm
def preprocess_text(text_data):
    preprocessed_text = []
    # tqdm is for printing the status bar
    for sentance in tqdm(text_data):
        sent = decontracted(sentance)
        sent = sent.replace('\\r', ' ')
        sent = sent.replace('\\n', ' ')
        sent = sent.replace('\\"', ' ')
        sent = re.sub('[^A-Za-z0-9]+', ' ', sent)
        # https://gist.github.com/sebleier/554280
        sent = ' '.join(e for e in sent.split() if e.lower() not in stopwords)
        preprocessed_text.append(sent.lower().strip())
    return preprocessed_text

In [ ]:
preprocessed_titles = preprocess_text(project_data['project_title'].values)

100%|███████████████████████████████████████████████████████████████████████████| 5000/5000 [00:00<00:00, 41083.73it/s]

In [ ]:
print("printing some random reviews")
print(9, preprocessed_titles[9])
print(34, preprocessed_titles[34])
print(147, preprocessed_titles[147])

printing some random reviews
9 love reading pure pleasure
34 ball
147 needs chromebook

# 8. Preprocessing Categorical Features: essay

In [ ]:
# merge two column text dataframe: 
project_data["essay"] = project_data["project_essay_1"].map(str) +\
                        project_data["project_essay_2"].map(str) + \
                        project_data["project_essay_3"].map(str) + \
                        project_data["project_essay_4"].map(str)

In [ ]:
print("printing some random essay")
print(9, project_data['essay'].values[9])
print('-'*50)
print(34, project_data['essay'].values[34])
print('-'*50)
print(147, project_data['essay'].values[147])

printing some random essay
9 Over 95% of my students are on free or reduced lunch.  I have a few who are homeless, but despite that, they come to school with an eagerness to learn.  My students are inquisitive eager learners who  embrace the challenge of not having great books and other resources  every day.  Many of them are not afforded the opportunity to engage with these big colorful pages of a book on a regular basis at home and they don't travel to the public library.  \r\nIt is my duty as a teacher to do all I can to provide each student an opportunity to succeed in every aspect of life. \r\nReading is Fundamental! My students will read these books over and over again while boosting their comprehension skills. These books will be used for read alouds, partner reading and for Independent reading. \r\nThey will engage in reading to build their \"Love for Reading\" by reading for pure enjoyment. They will be introduced to some new authors as well as some old favorites. I want my students to be ready for the 21st Century and know the pleasure of holding a good hard back book in hand. There's nothing like a good book to read!  \r\nMy students will soar in Reading, and more because of your consideration and generous funding contribution. This will help build stamina and prepare for 3rd grade. Thank you so much for reading our proposal!nannan
--------------------------------------------------
34 My students mainly come from extremely low-income families, and the majority of them come from homes where both parents work full time. Most of my students are at school from 7:30 am to 6:00 pm (2:30 to 6:00 pm in the after-school program), and they all receive free and reduced meals for breakfast and lunch. \r\n\r\n\r\nI want my students to feel  as comfortable in my classroom as they do at home. Many of my students take on multiple roles both at home as well as in school. They are sometimes the caretakers of younger siblings, cooks, babysitters, academics, friends, and most of all, they are developing who they are going to become as adults.  I consider it an essential part of my job to model helping others gain knowledge in a positive manner. As a result, I have a community of students who love helping each other in and outside of the classroom. They consistently look for opportunities to support each other's learning in a kind and helpful way.I am excited to be experimenting with alternative seating in my classroom this school year. Studies have shown that giving students the option of where they sit in a classroom increases focus as well as motivation.  \r\n\r\nBy allowing students choice in the classroom, they are able to explore and create in a welcoming environment. Alternative classroom seating has been experimented with more frequently in recent years. I believe (along with many others), that every child learns differently. This does not only apply to how multiplication is memorized, or a paper is written, but applies to the space in which they are asked to work. I have had students in the past ask \"Can I work in the library? Can I work on the carpet?\" My answer was always, \"As long as you're learning, you can work wherever you want!\" \r\n\r\nWith the yoga balls and the lap-desks, I will be able to increase the options for seating in my classroom and expand its imaginable space.nannan
--------------------------------------------------
147 My students are eager to learn and make their mark on the world.\r\n\r\nThey come from a Title 1 school and need extra love.\r\n\r\nMy fourth grade students are in a high poverty area and still come to school every day to get their education. I am trying to make it fun and educational for them so they can get the most out of their schooling. I created a caring environment for the students to bloom! They deserve the best.\r\nThank you!\r\nI am requesting 1 Chromebook to access online interventions, differentiate instruction, and get extra practice. The Chromebook will be used to supplement ELA and math instruction. Students will play ELA and math games that are engaging and fun, as well as participate in assignments online. This in turn will help my students improve their skills. Having a Chromebook in the classroom would not only allow students to use the programs at their own pace, but would ensure more students are getting adequate time to use the programs. The online programs have been especially beneficial to my students with special needs. They are able to work at their level as well as be challenged with some different materials. This is making these students more confident in their abilities.\r\n\r\nThe Chromebook would allow my students to have daily access to computers and increase their computing skills.\r\nThis will change their lives for the better as they become more successful in school. Having access to technology in the classroom would help bridge the achievement gap.nannan

In [ ]:
preprocessed_essays = preprocess_text(project_data['essay'].values)

100%|████████████████████████████████████████████████████████████████████████████| 5000/5000 [00:02<00:00, 1810.52it/s]

In [ ]:
print("printing some random essay")
print(9, preprocessed_essays[9])
print('-'*50)
print(34, preprocessed_essays[34])
print('-'*50)
print(147, preprocessed_essays[147])

printing some random reviews
9 95 students free reduced lunch homeless despite come school eagerness learn students inquisitive eager learners embrace challenge not great books resources every day many not afforded opportunity engage big colorful pages book regular basis home not travel public library duty teacher provide student opportunity succeed every aspect life reading fundamental students read books boosting comprehension skills books used read alouds partner reading independent reading engage reading build love reading reading pure enjoyment introduced new authors well old favorites want students ready 21st century know pleasure holding good hard back book hand nothing like good book read students soar reading consideration generous funding contribution help build stamina prepare 3rd grade thank much reading proposal nannan
--------------------------------------------------
34 students mainly come extremely low income families majority come homes parents work full time students school 7 30 6 00 pm 2 30 6 00 pm school program receive free reduced meals breakfast lunch want students feel comfortable classroom home many students take multiple roles home well school sometimes caretakers younger siblings cooks babysitters academics friends developing going become adults consider essential part job model helping others gain knowledge positive manner result community students love helping outside classroom consistently look opportunities support learning kind helpful way excited experimenting alternative seating classroom school year studies shown giving students option sit classroom increases focus well motivation allowing students choice classroom able explore create welcoming environment alternative classroom seating experimented frequently recent years believe along many others every child learns differently not apply multiplication memorized paper written applies space asked work students past ask work library work carpet answer always long learning work wherever want yoga balls lap desks able increase options seating classroom expand imaginable space nannan
--------------------------------------------------
147 students eager learn make mark world come title 1 school need extra love fourth grade students high poverty area still come school every day get education trying make fun educational get schooling created caring environment students bloom deserve best thank requesting 1 chromebook access online interventions differentiate instruction get extra practice chromebook used supplement ela math instruction students play ela math games engaging fun well participate assignments online turn help students improve skills chromebook classroom would not allow students use programs pace would ensure students getting adequate time use programs online programs especially beneficial students special needs able work level well challenged different materials making students confident abilities chromebook would allow students daily access computers increase computing skills change lives better become successful school access technology classroom would help bridge achievement gap nannan

# 8. Preprocessing Numerical Values: price

In [ ]:
# https://stackoverflow.com/questions/22407798/how-to-reset-a-dataframes-indexes-for-all-groups-in-one-step
price_data = resource_data.groupby('id').agg({'price':'sum', 'quantity':'sum'}).reset_index()
price_data.head(2)

        id   price  quantity
0  p000001  459.56         7
1  p000002  515.89        21

In [ ]:
# join two dataframes in python: 
project_data = pd.merge(project_data, price_data, on='id', how='left')

In [ ]:
project_data['price'].head()

0    154.60
1    299.00
2    516.85
3    232.90
4     67.98
Name: price, dtype: float64